:root {
    --main-dark: #292f36;
    --second-dark: #0e544d;
    --main-mid: #ff6b6b;
    --second-mid: #54abed;
    --main-light: #f4f7f9;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--main-light)
}

nav {
    background-color: var(--second-dark);
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem 2rem 10rem;
}

.logo {
    display: block;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--main-light);
}

.entry {
    background: var(--main-mid);
    display: block;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--main-light);
    padding: 0 1rem;
    border-radius: 0.6rem;
}